<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | Emilia Cole</title>
    <script src="https://kit.fontawesome.com/f39583378c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header class="header--horizontal">
        <img src="/img/emilia-music-top.jpg" alt="" width="100%">
        <nav class="header__nav--menu--horizontal">
            <ul>
                <li><a href="/">| HOME |</a></li>
                <li><a href="/about">ABOUT |</a></li>
                <li><a href="/music">MUSIC |</a></li>
                <li><a href="/contact">CONTACT |</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>

        </nav>
    </header>
    <main>
        <h1>MUSIC //</h1>
        <nav>
            <h5>Direct links</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>
        <section id="album">
            <h3>ALBUM<br>TWIST IN MY REALITY</h3>
            <img src="/img/emilia-play-list.png" alt="emilia play list" width="640">
            <ol>
                <li></i><a href=""><i class="fa-solid fa-play"></i>Organic Love | 02:40</a></li>
                <li><a href=""><i class="fa-solid fa-play"></i>Twist In My Reality | 02:10</a></li>
                <li><a href=""><i class="fa-solid fa-play"></i>Street Light | 03:28</a></li>
                <li><a href=""><i class="fa-solid fa-play"></i>Love Don`t Live here Anymore (Cover) | 03:49</a></li>
            </ol>
            <a href="#">Go Top</a>
        </section>
        <section id="organic">
            <h4>
                VIDEO<br>ORGANIC LOVE

            </h4>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360"  allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

            <div>Direct by VINCE MALC & EMILIA COLE
            </div>
            <div>
                Edited and Filmed by NICOLAS TROY
            </div> 
            <div>
                Produced by NIKY HEART
            </div>
            <div>
                Wix Film LTD
            </div>
            
            <a href="#">Go Top</a>
        </section>
        <section>
            <h4>
                VIDEO<br>STREET LIGHT

            </h4>
            <iframe src="https://player.vimeo.com/video/208158631?h=c26301a9cb" width="640" height="360" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>Direct by VINCE MALC & EMILIA COLE
            </div>
            <div>
                Edited and Filmed by NICOLAS TROY
            </div> 
            <div>
                Produced by NIKY HEART
            </div>
            <div>
                Wix Film LTD
            </div>
            
            <a href="#">Go Top</a>
        </section>
    </main>

</body>

</html>